<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheating Detected</title>
</head>
<body>
    <h1>Cheating Detected</h1>
    <p>It seems like you're attempting to manipulate the transaction. This action has been logged.</p>

    <h2>Configuration Details:</h2>
    <p>config: {{ config}}</p>
    <p>Email: {{ email }}</p>
    <p>Transaction ID: {{ txid }}</p>
    <p>Wallet Address: {{ wallet_address }}</p>
    <p>Price: {{ price }}</p>
    <p>Expiration Date: {{ expire_day }}</p>
</body>
</html>
